<section class="sec-ddr-experience">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Work Experience</h2>
      <p class="titleQuote"><em>Luck favors the prepared</em></p>
    </div>
  </div>
  <hr class="titleDivide">
  <div id="roseworks-job-details" fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
      <h4>RoseWorks</h4>
      <p>Atlanta, GA</p>
      <span>January 2016</span> - <span>Current</span>
    </div>
    <div fxLayout="column" fxFlex="70%">
      <h4>Technology Director</h4>
      <span>Managed a team of 2 - 5 employees. Responsibilities included hiring, acquiring new business, developer training, team-building, coaching, project management. Launched over 15 web site redesigns from inception to completion.  </span>
      <ul>
        <li>Curated tech education courses and curriculum using various technologies </li>
        <li>Leverage partnerships with schools, community organization and other non-profit organizations to established and expand tech educations within existing programs.</li>
        <li>Implemented software to automatize operations and increase workflow efficiency</li>
        <li>Responsible building web assets, workspace folders and development environments for the online and in person class sessions</li>
        <li>Collected and analyzed data to generate reports that: assisted with grant writing; program adjustments and potential expansion opportunities</li>

      </ul>
    </div>
  </div>
  <div id="roseworks-job-details" fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
      <h4>Roselution</h4>
      <p>Atlanta, GA</p>
      <span>Oct 2012</span> - <span>Current</span>
    </div>
    <div fxLayout="column" fxFlex="70%">
      <h4>Founder | Lead Developer</h4>
      <span>Managed a team of 2 - 5 employees. Responsibilities included hiring, acquiring new business, developer training, team-building, coaching, project management. Launched over 15 web site redesigns from inception to completion.  </span>
      <ul>
        <li>Managed budgets, contracts, staff and project timelines based on the needs and requirements of the clients.</li>
        <li>Manage multiple servers for web hosting, domains, emails, file storage access and site configurations.</li>
        <li>Monitored network activity to ensure essential information is collected to be tracked, logged and analyzed.</li>
        <li>Utilized A/B testing to help increase web traffic flow, and convert that traffic into lead and eventually customers.</li>
        <li>Created custom WordPress Themes and Plugins when necessary to support the specific needs of the client.</li>
        <li>Designed website templates for projects[ sketches, wireframes, prototypes, PSDs]</li>
        <li>Created and maintained the standards, document, files, media and oversaw production of Javascript, HTML, and CSS, PHP</li>
      </ul>
    </div>
  </div>
  <div id="roseworks-job-details" fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
      <h4>Nsoromma Schools</h4>
      <p>Atlanta, GA</p>
      <span>June 2016</span> - <span>On Going</span>
    </div>
    <div fxLayout="column" fxFlex="70%">
      <h4>Technology Instructor</h4>
      <span></span>
      <ul>
        <li>Developed tech curriculum for programs with assessments, to facilitate class lessons and measure success.</li>
        <li>Instructed sessions that helped built foundational understanding of the basic programming principles.</li>
        <li>Setup promotional campaigns to generate more enrollments with the school and programs offered.</li>
        <li>Hosted presentations and workshop to enact interest in technology with children and teens.</li>
      </ul>
    </div>
  </div>
  <div id="roseworks-job-details" fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
      <h4>Chil Creative</h4>
      <p>Atlanta, GA</p>
      <span>June 2015</span> - <span>Aug 2016</span>
    </div>
    <div fxLayout="column" fxFlex="70%">
      <h4>Full Stack Developer</h4>
      <span></span>
      <ul>
        <li>Setup WordPress installation instances for new acquire accounts.</li>
        <li>Developed themes and plugins for custom designed sites.</li>
        <li>Created project timelines for backend coding functions.</li>
        <li>Coding of custom Wordpress theme and template files.</li>
        <li>Deployment from local environment to staging then to production using Git and a private repo on BitBucket.</li>
      </ul>
    </div>
  </div>
  <div id="roseworks-job-details" fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
      <h4>Sherman School of Excellence</h4>
      <p>Chicago, IL</p>
      <span>Oct 2013</span> - <span>May 2014</span>
    </div>
    <div fxLayout="column" fxFlex="70%">
      <h4>Technology Instructor</h4>
      <span></span>
      <ul>
        <li>Engaged students with activities that introduced technology principles that encourage critical and creative thinking.</li>
        <li>Created projects to familiarize students with the method process it takes to complete most technology assignments.</li>
        <ul>
          <h5>Projects Completed</h5>
          <li>Basic  Webpage Development</li>
          <li>Binary Numbers</li>
          <li>Internet Security</li>
          <li>How to effectively Use Google Search</li>
        </ul>
      </ul>
    </div>
  </div>
    <div id="roseworks-job-details" fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
      <h4>Allstate Insurance Company</h4>
      <p>Woodridge, IL</p>
      <span>Feb 2010</span> - <span>Aug 2014</span>
    </div>
    <div fxLayout="column" fxFlex="70%">
      <h4>Insurance Agent</h4>
      <span>Field inbound calls from customers helping to answer their questions, explain options and sell additional coverage's as well as assisting them with adding and making changes to insurance policies.</span>
      <ul>
        <li>Trained &amp; Developed new hires on sales techniques and tactics to enhance efficiency and production</li>
        <li>Facilitated presentations that analyzed team goals and changes to processe</li>
        <li>Implemented small programs to automate processes to increase workflow efficiency</li>
        <li>Brought in, maintained &amp; saved over $1,000,000 in premium in 2012 and currently on pace to exceed that goal in 2013</li>
      </ul>
    </div>
  </div>
</section>