<section class="sec-ddr-experience">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Work Experience</h2>
    </div>
  </div>
  <hr class="titleDivide">
  <div id="roseworks-job-details" fxLayout="row" *ngFor="let item of experience" >
    <div fxLayout="column" fxFlex="30%" class="sideInfo">
      <h4>{{item.companyName}}</h4>
      <span>{{item.locationCity}}, {{item.locationState}}</span>
      <span>{{item.startDate}} - {{item.endDate}}</span>
    </div>
    <div fxLayout="column" fxFlex="70%" class="mainInfo">
      <h4>{{item.title}}</h4>
      <span>{{item.description}}</span>
      <ul class="jobList">
        <li *ngFor="let deds of item.accomplishments ">{{deds.detail}}</li>
      </ul>
    </div>
  </div>