.sec-ddr-projects {
    background: #a0b7cb;
    padding-top: 75px;
    padding-bottom: 75px;
}

.sec-ddr-projects hr {
    width: 25%;
    border: 1px solid #74c0ff;
}

.sec-ddr-projects h1,
.sec-ddr-projects h2,
.sec-ddr-projects h3,
.sec-ddr-projects h4,
.sec-ddr-projects h5,
.sec-ddr-projects h6 {
    font-family: 'PT Serif', serif;
}

.sec-ddr-projects h2 {
    text-align: center;
    font-size: 28px;
    font-family: 
}

.sec-ddr-projects img {
    width: 55%;   
    padding-top: 50px;
}

.sec-ddr-projects .project-img-left,
.sec-ddr-projects .project-img-right {
    text-align: center;
}

.titleQuote {
    text-align: center;
}