<section class="sec-ddr-projects">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Projects Portfolio</h2>
      <p class="titleQuote"><em>Another Amazing Quote</em></p>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="50%">
      <div class="">
        <img src="../../assets/imgs/roseworks-site.png" alt="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div fxFlex="50%">
      <div class="">
        <img src="../../assets/imgs/rohadfox-site.png" alt="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
    <div fxLayout="row">
    <div fxFlex="50%">
      <div class="">
        <img src="../../assets/imgs/libertyofgentlemen-site.png" alt="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div fxFlex="50%">
      <div class="">
        <img src="../../assets/imgs/myglobalteam-site.png" alt="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</section>