<section class="sec-ddr-projects">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Projects Portfolio</h2>
      <p class="titleQuote"><em>Another Amazing Quote</em></p>
    </div>
  </div>
  <div fxLayout="row" >
    <div fxFlex="50%" class="project-img-left">
      <div class="">
        <img src="../../assets/imgs/roseworks-site.png" alt="">
        <h3>RoseWorks Website</h3>
        <hr>
        <span></span>
        <span></span>
      </div>
    </div>
    <div fxFlex="50%" class="project-img-right">
      <div class="">
        <img src="../../assets/imgs/rohadfox-site.png" alt=""><br />
        <h3>Rohadfox Website</h3>
        <hr>
        <span>WordPress Custom Themes</span>
        <span></span>
      </div>
    </div>
  </div>
    <div fxLayout="row">
    <div fxFlex="50%" class="project-img-left">
      <div class="">
        <img src="../../assets/imgs/libertyofgentlemen-site.png" alt="">
        <h3>Liberty of Gentlemen | Hong Kong Tailors</h3>
        <hr>
        <span></span>
        <span></span>
      </div>
    </div>
    <div fxFlex="50%" class="project-img-right">
      <div class="">
        <a href=""><img src="../../assets/imgs/myglobalteam-site.png" alt=""></a>
        <h3>My Global Team</h3>
        <hr>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</section>