<section class="sec-ddr-abilities">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Abilities &amp; Skills</h2>
      <p class="titleQuote"><em>Luck favors the prepares</em></p>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="abilities-content" fxFlex="100%" *ngFor="let abil of abilities">
      <h4>{{abil.title}}</h4>
       <table>
        <tbody>
          <tr *ngFor="let list of abil.list">
            <th><i class="material-icons">{{list.icon}}</i>{{list.name}}</th>
            <td><md-slider step="1" value="{{list.proficiency}}" horizontal></md-slider></td>
            <td>{{list.proficiency}}%</td>
            <td></td>
          </tr>                    
        </tbody>
      </table>
    </div>
  </div>
</section>