<section class="sec-ddr-abilities">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Abilities &amp; Skills</h2>
      <p class="titleQuote"><em>Luck favors the prepares</em></p>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100%"><h4>Coding Languages</h4></div>
  </div>
  <div fxLayout="row">
    <div fxFlex="50%" fxLayoutAlign="center" class="leftSide">
      <table>
        <tbody>
          <tr>
            <th>HTML5</th>
            <td>10+ Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>                    
        </tbody>
      </table>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center" class="rightSide">
      <table>
        <tbody>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
                    <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>                    
        </tbody>
      </table>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100%"><h4>Technical Skills</h4></div>
  </div>
  <div fxLayout="row">
    <div fxFlex="50%" fxLayoutAlign="center" class="leftSide">
      <table>
        <tbody>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>                    
        </tbody>
      </table>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center" class="rightSide">
      <table>
        <tbody>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
                    <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>                    
        </tbody>
      </table>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100%"><h4>Technical Skills</h4></div>
  </div>
  <div fxLayout="row">
    <div fxFlex="50%" fxLayoutAlign="center" class="leftSide">
      <table>
        <tbody>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>                    
        </tbody>
      </table>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center" class="rightSide">
      <table>
        <tbody>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
                    <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>
          <tr>
            <th>HTML</th>
            <td>Years</td>
            <td>Stars</td>
          </tr>                    
        </tbody>
      </table>
    </div>
  </div>
</section>