p, span {
    font-family: 'PT Sans', sans-serif;
}
p {
    font-size: 14pt;
}
.sec-ddr-profile {
    background: #e1f1fe;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.sec-ddr-profile h2 {
    font-family: 'PT Serif', serif; 
    text-align: center;
    font-size: 28px;
}

.titleQuote {
    text-align: center;
}

.content-area {
    padding: 0 20px;
}

.content-area p {
    text-align: justify;
}
.content-area h3 {
    font-family: 'PT Serif', serif; 
    font-size: 20pt;
}

.ddr-table th {
    font-family: 'PT Serif', serif;
}

.ddr-table {
    text-align: left;
}