<section class="sec-ddr-profile">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Profile</h2>
      <p class="titleQuote"><em>Luck favors the prepared.</em></p>
    </div>
  </div>
  <div fxLayout="row">
    <div class="content-area" fxFlex="70%">
      <h3>About Me</h3>
      <p>Day Job: Progressive Web and Mobile App developer with 12 years of experience of building for the internet. Possesses a strong coding foundation in object oriented programming and highly knowledgeable of data structures and algorithms. Adaptive to different web technologies and concepts (Current passions: MVC, Docker, Angular, Typescript &amp; GoLang) to deliver an innovative website. Motivated by the process of creation and delivering a final project that exceeds expectations.</p>
      <p>Alter Ego: Technology and programming instructor with a passion of making tech literacy a realization within under represented communities.</p>
    </div>
    <div class="content-area" fxFlex="30%">
      <h3>Details:</h3>
      <div >
        <table class="ddr-table">
          <tbody>
            <tr>
              <th><span>Name:{{profile.firstName}}</span></th>
              <td><span>Donald D. Rose</span></td>
              <td><span>{{profile.firstName}}</span></td>
              <th><span>Email:</span></th>
              <td><span>dondrose@gmail.com</span></td>
              <th><span>Location:</span></th>
              <td><span>Atlanta, GA</span></td>
              <th><span>My Links :</span></th>
            </tr>
            <tr>
              <td><a href="https://www.linkedin.com/in/donalddrose/"><span>LinkedIn</span></a></td>
              <td><a href="https://github.com/Dondrose/DonaldRoseResume"><span>GitHub</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>