<section class="sec-ddr-profile" *ngFor="let item of profile">
  <div fxLayout="row">
    <div fxFlex="100%">
      <h2>Profile</h2>
      <p class="titleQuote"><em>{{item.quote}}</em></p>
    </div>
  </div>
  <div fxLayout="row">
    <div class="content-area" fxFlex="70%" >
      <h3>About Me</h3>
      <p>{{item.summary}}</p>
    </div>
    <div class="content-area" fxFlex="30%">
      <h3>Details:</h3>
      <div>
        <table class="ddr-table">
          <tbody>
            <tr>
              <th><span>Name:</span></th>
            </tr>
            <tr>
              <td><span>{{item.firstName}} {{item.middleName}} {{item.lastName}}</span></td>
            </tr>
            <tr>
              <th><span>Email:</span></th>
            </tr>
            <tr>
              <td><span>{{item.email}}</span></td>
            </tr>
            <tr>
              <th><span>Location:</span></th>
            </tr>
            <tr>
              <td><span>{{item.city}}, {{item.state}}</span></td>
            </tr>
            <tr>
              <th><span>My Links :</span></th>
            </tr>
            <tr>
              <td><a href="{{item.linkedIn}}" target="_blank"><span>LinkedIn</span></a></td>
              <td><a href="{{item.github}}" target="_blank"><span>GitHub</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>